:root {
    --tiles--count-in-row: 4;
    --tiles-gap: 16px;
    --tile-width: 100px;
    --tile-height: 100px;
}

body {
    background-color: darkslategray;
}

.tiles {
    margin: 48px auto;
    width: max-content;
    display: grid;
    grid-template-columns: repeat(var(--tiles--count-in-row), var(--tile-width));
    gap: var(--tiles-gap);
    box-sizing: border-box;
}

.tile {
    height: var(--tile-height);
    background-color: black;
    border: 5px solid dimgrey;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tile[data-revealed="false"] span {
    opacity: 0;
}

.tile[data-revealed="true"] span {
    opacity: 1;
    color: white;
}